.maps {
	overflow: hidden !important;
	height: 300px;
}

.login-wrapper {
  position: absolute !important;
  top:50% !important;
  left: 50%;
  transform: translate(-50%, -50%);
}
.maps-wrapper, .table-wrapper {
	height: 45vh;
	overflow: hidden;
}